.wrapper {
  width: 100%;
  margin: 0;
  padding: 0 10px 0 10px;
}

.featureWrapper {
  min-height: 200px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}
