.wrapper{
	padding: 0;
	min-height: 100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	color: #000;
}

.leftwrapper {
	padding: 0;
}

.midlewrapper{
	padding: 0;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.rigthwrapper {
	padding: 0;
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	
}

.rigthwrapper p{
	padding-right: 30px;
}

.wrapperMenu{
	padding: 0;
	display: flex;
	flex-flow: row;
	list-style: none;
	justify-self: center;
}

.itemList{
	color: rgba(0, 0, 0, 1);
	padding-right: 30px;
	padding-left: 30px;
	text-transform: uppercase;
}