@font-face {
  font-family: TitilliumRegular;
  src: url(./fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: TitilliumLight;
  src: url(./fonts/TitilliumWeb-Light.ttf);
}

@font-face {
  font-family: TitilliumExtraLight;
  src: url(./fonts/TitilliumWeb-ExtraLight.ttf);
}

@font-face {
  font-family: TitilliumBold;
  src: url(./fonts/TitilliumWeb-Bold.ttf);
}

body {
  background-color: aquamarine;
  font-family: TitilliumRegular;
}

.mainWrapper {
  min-height: 100vh;
  padding: 0;
}

.contentWrapper {
  background-color: yellow;
  min-height: 100vh;
  padding: 0;
}
