body {
    background-color: aquamarine;
}

.wrapperApp{
    min-height: 100vh;
    padding: 0;
}

.wrapperMidle {
    background-color: blueviolet;
    min-height: 100vh;
}

.wrapperNotifications{
    background-color: chocolate;
}