@font-face {
  font-family: TitilliumRegular;
  src: url(./fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: TitilliumLight;
  src: url(./fonts/TitilliumWeb-Light.ttf);
}

@font-face {
  font-family: TitilliumExtraLight;
  src: url(./fonts/TitilliumWeb-ExtraLight.ttf);
}

@font-face {
  font-family: TitilliumBold;
  src: url(./fonts/TitilliumWeb-Bold.ttf);
}

body {
  font-family: TitilliumRegular, sans-serif, serif;
}

.mainWrapper {
  min-height: 100vh;
  padding: 0;
}

.contentWrapper {
  background-color:rgb(255, 255, 255);
  min-height: 100vh;
	padding: 0;
	border-radius: 5px;
	z-index: 9999;
	position: relative;
	top: -30px;
}
